#rotate-box {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 30%),
  -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 15%), url(/images/jpg-small/bg.jpg);
}

.light {width: 100vw; height: 100vh; background-color: rgba(11, 14, 23, 0.6);}
#support-box {
  display: block;
  position: absolute;
  top: 45%;
  text-align: center;
  line-height: 1.6;
  font-size: 24px;
  background-color: #0b0e17;
}
#start-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  min-height: 100vh;
}
@supports (display: grid) {
  #support-box {display: none;}
  #start-box {display: block;}
}

#start-content {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: #0b0e17;
  background-size: cover; background-position: center center; background-repeat: no-repeat;/*
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.3), rgba(11, 14, 23, 0.3)), url(/images/cover.jpg);*/
  background-image: -webkit-radial-gradient(ellipse at top left, transparent, rgba(11, 14, 23, 0.2)),
  -webkit-radial-gradient(ellipse at bottom right, transparent, rgba(11, 14, 23, 0.1)), url(/images/main.jpg);
  background-image: radial-gradient(ellipse at top left, transparent, rgba(11, 14, 23, 0.2)),
  radial-gradient(ellipse at bottom right, transparent, rgba(11, 14, 23, 0.1)), url(/images/main.jpg);
}/*
#green-line {
  width: 35.5em;
  height: 0.9em;
  margin: 0.4rem 0 5.5rem 0;
  background: -webkit-linear-gradient(181.97deg, #CBE724 -9.3%, #41B619 135.79%);
}
#help {
  font-weight: 500;
  font-size: 2.4em;
  text-align: center;
  margin-top: 14vh;
  padding: 3.8rem 3.5rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.8);
  background-color: rgba(11, 14, 23, 0.9);
}

.flex-center {display: flex; flex-direction: column; align-items: center;}

.more-title {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.8em;
  width: 22rem;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
}
#log {background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.8), rgba(11, 14, 23, 0.45)), url(/images/jpg-small/im7.jpg);}
#img {background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.8), rgba(11, 14, 23, 0.45)), url(/images/jpg-small/im1.jpg);}
#about {
  width: 16.4rem;
  padding: 1.2rem 5.5rem 2.5rem 5.5rem;
  border: 0.3rem #ddd solid;
  border-radius: 2rem;
  z-index: 10;
  background-color: #1f2740;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.8), rgba(11, 14, 23, 0.45)), url(/images/obull.jpg);
}
#log::before, #img::before, #about::before {display: block; content: ''; background-size: cover; width: 9rem; height: 9rem; margin: 0 auto 0;}
#log::before {background-image: url(/images/icons/log-icon.png);}
#img::before {background-image: url(/images/icons/img-icon.png);}
#about::before {background-image: url(/images/icons/fly-icon.png);}

#fly-start {grid-area: head;}
#cards-block {
  grid-area: cards;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

#start-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid:
    "... ... ... ... ..."
    "... ttl ttl ttl ..."
    "... fly fly new ..."
    "... img img img ..."
    "... abt abt hot ..."
    "... fut fut fut ..."
    "... ... ... ... ..."
  ;
  /*ttl - title, new - news, img - gallery, abt - about, hot - hot keys, fut - footer */
  grid-template-rows: 1.7fr 4rem 36rem 6rem 15rem 4rem 1fr;
  grid-template-columns: 1.2fr repeat(3, 1fr) 1.2fr;
  grid-gap: 1rem;
}

#fly-block, #news-block, #gallery-block, #about-fly, #hot-keys {
  background-color: #1f2740; border-radius: 1.2rem;
}
#header-block {
  grid-area: ttl;
}
#fly-block {
  grid-area: fly;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#news-block {
  grid-area: new;
  display: flex;
}
.update-title {
  margin-top: auto;
  padding: 0 0 3rem 3rem;
}
#gallery-block {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-fly {
  grid-area: abt;
}
.about-title {
  padding: 2rem 0 0.5rem 2rem;
}
.about-text {
  padding: 0 2rem 2rem;
}
#hot-keys {
  grid-area: hot;
}
#footer-block {
  grid-area: fut;
}

#fly-open {
  cursor: pointer;
  font-weight: 900;
  font-size: 1.8em;
  padding: 1.1rem 7.5rem;
  background: #41b619;
  border: 0.5rem solid #369e13;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(65, 182, 25, 0.55);
  transition: 0.5s;
}
#fly-open:hover {box-shadow: 0 0.5rem 1.5rem #41B619; border: 0.5rem solid #41b619;
  /*background: -webkit-linear-gradient(75deg, #41B619, #CBE724)*/;}

/*@media screen and (max-width: 1199px) {
  #start-content {
    grid:
      "..."
      "head"
      "cards"
    ;
    grid-template-rows: 5rem 23rem 1fr;
    grid-template-columns: 100vw;
  }
  #cards-block {flex-direction: column;}
  .more-title {padding: 1.5rem 3rem 2.8rem 3rem;}
  #log {
    border-radius: 2rem 2rem 0 0;
    padding-bottom: 3.7rem;
    transform: translateY(2rem);
  }
  #img {
    border-radius: 0 0 2rem 2rem;
    padding-top: 3.7rem;
    transform: translateY(-2rem);
  }
}

@media screen and (min-width: 1200px) {
  #start-content {
    grid:
      "... ... ..."
      "... head ..."
      "... cards ..."
    ;
    grid-template-rows: 1fr 17.8rem 1fr;
    grid-template-columns: 1fr minmax(84rem, 5fr) 1fr;
  }
  .more-title {padding: 1.5rem 2.4rem 2.8rem 2.4rem; margin-top: 3rem;}
  #log {
    border-radius: 2rem 0 0 2rem;
    padding-right: 4rem;
    transform: translateX(2rem);
  }
  #img {
    border-radius: 0 2rem 2rem 0;
    padding-left: 4rem;
    transform: translateX(-2rem);
  }
}*/

@media screen and (max-aspect-ratio: 4/3) {
  #rotate-box {
    position: absolute;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .portrait-text {
    display: inline-block;
    text-align: center;
    font-size: 1.9em;
    line-height: 1.6;
  }
}
@media screen and (orientation: landscape) and (min-aspect-ratio: 4/3) {
  .portrait-text {display: none;}
}

.invisible-loading {display: block; z-index: 1;}
#first-load-view, .st-anim-text-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.st-anim-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.st-text {
  font-size: 3.2em;
  line-height: 1.7;
  opacity: 0;
  text-align: center;
  animation-fill-mode: forwards;
}
.anim-text-1 {
  animation: 4s anim-text-1;
  animation-delay: 0.5s;
}
@keyframes anim-text-1 {
  from {opacity: 0;}
  30% {opacity: 1;}
  70% {opacity: 1;}
  to {opacity: 0;}
}
.anim-text-2 {
  animation: 5s anim-text-2;
  animation-delay: 4.5s;
}
@keyframes anim-text-2 {
  from {opacity: 0;}
  30% {opacity: 1;}
  70% {opacity: 1;}
  to {opacity: 0;}
}
.anim-text-3 {
  animation: 2s anim-text-3;
  animation-delay: 9.5s;
}
@keyframes anim-text-3 {
  from {opacity: 0;}
  30% {opacity: 1;}
  70% {opacity: 1; transform: scale(1);}
  to {opacity: 0; transform: scale(0.6);}
}
