@media screen and (min-width: 1100px) {
  .gradient-light {
    position: absolute;
    width: 104rem; height: 42rem;
    background-image:
    -webkit-linear-gradient(10deg, #CACE12, transparent 55%),
    -webkit-linear-gradient(20deg, orange 15%, transparent 65%),
    -webkit-linear-gradient(210deg, #E8651B, transparent 80%),
    -webkit-linear-gradient(155deg, #C82626, transparent 70%),
    -webkit-linear-gradient(90deg, brown, transparent 70%);
    background-size: 150% 150%;
    filter: blur(10rem);
    animation: 10s infinite gradient;
  }
  @keyframes gradient {
    0%, 100% {background-position: 0 25%;}
    25%, 75% {background-position: 50% 50%;}
    50% {background-position: 100% 100%;}
  }
}
@media screen and (max-width: 1099px) {
  .gradient-light {
    position: absolute;
    width: 100vw; height: 42vh;
    filter: blur(4rem);
    background-size: 150%; background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.5), rgba(11, 14, 23, 0.4)),
    url(/images/cover.jpg);
  }
}
#cover {filter: blur(1rem);}

.look-here {animation: 1.5s look-here; animation-delay: 2s;}
@keyframes look-here {
  from {border: 0.0rem solid azure;}
  33% {border: 0.4rem solid azure;}
  67% {border: 0.4rem solid azure;}
  to {border: 0.0rem solid azure;}
}
