#rotate-box {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 30%),
  -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 15%), url(/images/jpg-small/bg.jpg);
}
#support-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#start-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #0b0e17;
}
@supports (display: grid) {
  #support-box {display: none;}
  #start-box {display: block;}
}

#start-content {
  display: grid;
  width: inherit;
  height: inherit;
}
@media screen and (min-width: 1100px) {
  #start-content {
    grid-template-areas:
      "... ... ... ... ..."
      "... ttl ttl ttl ..."
      "... new new img ..."
      "... fly fly fly ..."
      "... abt hot snd ..."
      "... fut fut fut ..."
      "... ... ... ... ..."
    ;
    /*ttl - title, new - news, img - gallery, abt - about, hot - hot keys, snd - sound, fut - footer */
    grid-template-columns: 1fr repeat(3, 34rem) 1fr;
    grid-template-rows: 1.5fr 4rem 12rem 42rem 18rem 2rem 1fr;
    grid-gap: 1rem;
  }
  .gradient-light {
    position: absolute;
    width: 104rem; height: 42rem;
    background-image:
    -webkit-linear-gradient(10deg, #CACE12, transparent 55%),
    -webkit-linear-gradient(20deg, orange 15%, transparent 65%),
    -webkit-linear-gradient(210deg, #E8651B, transparent 80%),
    -webkit-linear-gradient(155deg, #C82626, transparent 70%),
    -webkit-linear-gradient(90deg, brown, transparent 70%);
    background-size: 150% 150%;
    filter: blur(100px);
    animation: 10s infinite gradient;
  }
  @keyframes gradient {
    0%, 100% {background-position: 0 25%;}
    25%, 75% {background-position: 50% 50%;}
    50% {background-position: 100% 100%;}
  }
  #gallery-block, #hot-keys {display: flex;}
  .sound-border {width: 34rem; height: 18rem;}
}
@media screen and (max-width: 1099px) {
  #start-content {
    grid-template-areas:
      "... ... ..."
      "... ttl ..."
      "... ... ..."
      "... new ..."
      "... abt ..."
      "... snd ..."
      "... fut ..."
      "... ... ..."
    ;
    /*ttl - title, new - news, abt - about, snd - sound, fut - footer */
    grid-template-rows: 1.5rem 4rem minmax(32rem, calc(42vh - 8.5rem)) 13rem 17rem 13rem 2rem 1fr;
    grid-template-columns: 1fr minmax(auto, 55rem) 1fr;
    grid-gap: 1.5rem;
  }
  #fly-block {
    position: absolute;
    width: 100vw;
    height: 42vh;
    min-height: 40rem;
  }
  .gradient-light {
    position: absolute;
    width: 100vw; height: 42vh;
    min-height: 40rem;
    filter: blur(40px);
    background-size: 150%; background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.5), rgba(11, 14, 23, 0.4)),
    url(/images/cover.jpg);
  }
  #gallery-block, #hot-keys {display: none;}
  .sound-border {width: calc(100vw - 3rem); max-width: 55rem; height: 13rem;}
}
.large-about-block {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 649px) {
  .large-about-block {width: calc(100vw - 3rem); height: 31rem;}
}
@media screen and (min-width: 650px) {
  .large-about-block {width: 57rem; height: 26rem;}
}

#fly-block, #news-block, #gallery-block, #about-fly, #hot-keys, #sound-block {
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-color: #1f2740; border-radius: 2rem; z-index: 5;
}
#news-block, #gallery-block, #sound-block {cursor: pointer; transition: box-shadow 0.5s, transform 0.5s, background-color 1s;}
#fly-block {
  grid-area: fly;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
#fly-open {
  cursor: pointer;
  font-weight: 800;
  font-size: 1.8em;
  z-index: 4;
  padding: 1rem 6rem;
  margin-top: 2rem;
  background-color: #318613;
  border: 0.6rem solid #41b619;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 2rem #43a225;
  transition: box-shadow 0.5s, background-color 0.5s;
}
#fly-open:hover, #fly-open:focus {
  outline: none;
  background-color: #389717;
  box-shadow: 0 0 3rem #36841d; /*
  background: -webkit-linear-gradient(75deg, #41B619, #CBE724)*/;}
#news-block {
  grid-area: new;
  display: flex;
  flex-direction: column;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.5), rgba(11, 14, 23, 0.8)),
  url(/images/jpg-small/im7.jpg);
}
#news-block:hover, #gallery-block:hover, #sound-block:hover {
  box-shadow: 0 0 1.7rem #0b0e17;
}
#news-block:focus, #gallery-block:focus, #sound-block:focus {
  box-shadow: 0 0 1.7rem #0b0e17;
  transform: scale(0.975);
}
.look-here {animation: 1.5s look-here; animation-delay: 2s;}
@keyframes look-here {
  from {border: 0.0rem solid azure;}
  33% {border: 0.4rem solid azure;}
  67% {border: 0.4rem solid azure;}
  to {border: 0.0rem solid azure;}
}
#gallery-block {
  grid-area: img;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.6), rgba(11, 14, 23, 0.6)),
  url(/images/jpg-small/im1.jpg);
}
.gallery-title {
  font-size: 2em;
  margin-top: auto;
  padding: 0 2rem 2rem 2.5rem;
  font-weight: 700;
}
#about-fly {
  grid-area: abt;
  display: flex;
  flex-direction: column;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.6), rgba(11, 14, 23, 0.9)), url(/images/cover.jpg);
}
#understand {
  background-color: #1f2740;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  margin: 1rem 3rem 2.5rem auto;
  border: 3px solid #f0ffffa1;
  font-size: 1.6em;
}
#understand:hover, #understand:focus {
  outline: none; border: 3px solid azure; box-shadow: 0 0 1.5rem #0b0e17;
}
#sound-block {
  grid-area: snd;
  display: flex;
  flex-direction: column;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.5), rgba(11, 14, 23, 0.8));
}
audio {
  width: 0; height: 0; opacity: 0;
}
.sound-border {
  position: absolute; opacity: 0;
  border-radius: 2rem;
  box-shadow: 0 0 2rem aliceblue;
}
.sound-animation {
  animation: 1.7s infinite sound;
  animation-timing-function: cubic-bezier(.4,.01,.34,.98);
}
@keyframes sound {
  from {transform: scale(1); opacity: 1;}
  to {transform: scale(1.1); opacity: 0;}
}

.invisible-loading {display: block; z-index: 1;}
