#fly {
  display: none;
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0b0e17;
}
#fly:-moz-full-screen {display: block;}
#fly:-webkit-full-screen {display: block;}

@media screen and (min-width: 567px) and (max-width: 800px) and (orientation: landscape) {
  #fly {font-size: 6px;}
}
@media screen and (min-width: 801px) and (max-width: 1199px) and (orientation: landscape) {
  #fly {font-size: 8px;}
}
@media screen and (min-width: 1200px) and (max-width: 1921px) and (orientation: landscape) {
  #fly {font-size: 10px;}
}
@media screen and (min-width: 1922px) and (max-width: 2900px) and (orientation: landscape) {
  html, #fly {font-size: 15px;}
}
@media screen and (min-width: 2901px) and (max-width: 3900px) and (orientation: landscape) {
  html, #fly {font-size: 20px;}
}
@media screen and (min-width: 3901px) and (orientation: landscape) {
  html, #fly {font-size: 24px;}
}

.view-container, .close-box {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 75vw;
  background-color: #0b0e17;
  backface-visibility: hidden;
}
#bgo {opacity: 1;}

#bg2-1-spawn {transform-origin: 35vw 50vh;}
#bg2-2-spawn {transform-origin: 38vw 50vh;}
#bg3 {transform-origin: 40vw 58vh;}
#bg5 {transform-origin: 45vw 55vh;}
#bg9-1-spawn {transform-origin: 70vw 45vh;}
#bg10-spawn {transform-origin: 60vw 51vh;}
#bg11 {transform-origin: 77vw 54vh;}
#bg12-spawn {transform-origin: 75vw 55vh;}
#bg13-spawn {transform-origin: 40vw 45vh;}

.images-container, .icons-container {
  position: absolute;
  width: 100vw;
  height: 75vw;
}
.images-container {z-index: 100;}
.gradient-box {
  z-index: 101;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: -webkit-linear-gradient(top, rgba(0, 14, 168, 0.34) 0%, rgba(0, 0, 0, 0.0) 15%),
  -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0) 15%);
}
.icons-container {z-index: 102;}
.close-box {
  z-index: 103;
  display: none;
  opacity: 0;
  transition: 0.4s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 30%),
  -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 15%), url(/image/bg.jpeg);
}
.close-text {font-size: 1.9em;}
.image-point {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent #fff;
  transition: 0.5s;
}
.image-point:hover {
  border-color: /*#ff2f2f*/ #fff;
  transform: scale(1.3);
}
#im1 {top: 29.5vw; left: 16.5vw;}
#im2 {top: 35.3vw; left: 22vw;}
#im3 {top: 39.5vw; left: 27vw;}
#im4 {top: 30.7vw; left: 35vw;}
#im5 {top: 36vw; left: 38.5vw;}
#im6 {top: 34.5vw; left: 48vw;}
#im7 {top: 35.4vw; left: 54vw;}
#im8 {top: 29.3vw; left: 59vw;}
#im9 {display: none;}
#im10 {top: 32vw; left: 63.3vw;}
#im11 {top: 35vw; left: 76vw;}
#im12 {top: 38vw; left: 85vw;}

#im3to2 {top: 28vw; left: 53.8vw;}
#im5to3 {top: 42vw; left: 53vw;}
#im6to7 {top: 34vw; left: 50vw;}
#im7to10 {top: 39vw; left: 40vw;}
#im9to4 {top: 32vw; left: 65vw;}
#im13 {top: 31vw; left: 36vw;}

#text1to4 {top: 34.5vw; left: 78.3vw;}
#text4to1 {top: 31vw; left: 34vw;}
#to-im2-1 {top: 36vw; left: 7vw;}
#to-im2-2 {top: 36vw; right: 7vw;}
#text8to9 {top: 26vw; left: 58vw;}
#text9to8 {top: 42vw; left: 31vw;}
#to-im9-1 {top: 36vw; right: 7vw;}
#to-im9-2 {top: 36vw; left: 7vw;}
#to-im12 {top: 36vw; left: 7vw;}
#to-im13 {top: 36vw; right: 7vw;}

.cube-image {
  opacity: 1;
  width: 50vw;
  height: 75vw;
}

#cross {
  display: block;
  position: absolute;
  cursor: pointer;
  z-index: 910;
  top: 1.5em;;
  right: 1.5em;
  height: 5em;
  width: 5em;
}
@keyframes fade-up {
  from {opacity: 0; top: -7vh;}
  to {opacity: 1; top: 2vh;}
}
.fade-from-down {
  animation: 1s fade-from-down;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes fade-from-down {
  from {opacity: 0; bottom: -7vh;}
  to {opacity: 1; bottom: 2vh;}
}
.fade-to-down {
  animation: 1s fade-to-down;
  animation-fill-mode: forwards;
}
@keyframes fade-to-down {
  from {opacity: 1; bottom: 2vh;}
  to {opacity: 0; bottom: -7vh;}
}

@media screen and (min-width: 567px) and (orientation: landscape) {
  .top-text {
    position: absolute;
    z-index: 210;
    font-size: 2.7em;
    top: -7vh;
    left: 1vw;
    animation-name: fade-up;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }
  .bottom-text {
    position: absolute;
    z-index: 220;
    font-size: 2.7em;
    bottom: -7vh;
    left: 1vw;
  }
  #bottom-button {
    display: none;
    position: absolute;
    cursor: pointer;
    z-index: 240;
    padding: 1.1rem 4rem;
    bottom: -7vh;
    right: 2vw;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid #41B619;
    border-radius: 5rem;
    box-shadow: 0 0 1rem #41B619;
    transition: 0.5s;
  }
  #bottom-button:hover {
    background: -webkit-linear-gradient(75deg, #41B619, #CBE724);
    box-shadow: 0 0 1rem #CBE724;
    color: #fff;
  }
  .button-spawn {
    animation-name: fade-from-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  #disabled {
    position: absolute;
    z-index: 241;
    width: 9rem; height: 2.2rem;
    padding: 1.6rem 4.5rem;
    bottom: 2vh; right: 2vw;
  }
}
.to-point {
  position: absolute;
  cursor: pointer;
  z-index: 300;
  border-style: solid;
  border-color: #fff #fff transparent transparent;
  transition: 0.5s;
}
.complete::before {
  display: block; content: '';
  border-radius: 50%; background-color: #41b619;
}
@media screen and (max-width: 1399px) {
  .image-point {
    width: 3.7rem;
    height: 3.7rem;
    border-width: 0.7rem;
  }
  .to-point {
    width: 2rem;
    height: 2rem;
    border-width: 0.7rem;
  }
  .complete::before {
    width: 1rem;
    height: 1rem;
    margin: 0 0 0 3.4rem;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1899px) {
  .image-point {
    width: 4.8rem;
    height: 4.8rem;
    border-width: 0.85rem;
  }
  .to-point {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 0.8rem;
  }
  .complete::before {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0 0 4.4rem;
  }
}
@media screen and (min-width: 1900px) {
  .image-point {
    width: 6rem;
    height: 6rem;
    border-width: 1rem;
  }
  .to-point {
    width: 3rem;
    height: 3rem;
    border-width: 0.9rem;
  }
  .complete::before {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0 0 5.5rem;
  }
}

h5 {font-size: 3.2em; position: absolute; z-index: 800; text-shadow: 0 0 1rem #000; cursor: pointer; transition: 0.5s;}
h5:hover {transform: scale(1.3);}

#im1to4, #im4to1, #im8to9, #im9to8 {transform: rotateX(75deg) translateX(-0.5rem) scale(1.4); border-color: #fff #fff #ff742f #fff;}

#to-im2-1, #to-im9-2, #to-im12 {transform: rotateZ(-135deg); right: 0;}
#to-im2-1:hover, #to-im9-2:hover, #to-im12:hover {border-color: #ff2f2f #fff transparent transparent; transform: scale(1.4) rotateZ(-135deg);}
#to-im2-2, #to-im9-1, #to-im13 {transform: rotateZ(45deg);}
#to-im2-2:hover, #to-im9-1:hover, #to-im13:hover {border-color: #fff #ff2f2f transparent transparent; transform: scale(1.4) rotateZ(45deg);}

.open {
  animation: 1.2s open;
  animation-fill-mode: forwards;
}
@keyframes open {
  from {border-color: #fff; transform: scale(1.3); opacity: 1;}
  99% {border-color: #fff; transform: scale(3); opacity: 0;}
  to {transform: scale(0.01); opacity: 0;}
}
.spawn {
  animation: 1.3s spawn;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes spawn {
  from {transform: scale(0.6); opacity: 0;}
  85% {transform: scale(1.4); opacity: 1;}
  to {transform: scale(1); opacity: 1;}
}
.fade {
  animation: 1.3s fade;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes fade {
  from {opacity: 0; transform: rotateX(75deg) translateX(-0.5em) scale(1.4);}
  to {opacity: 1; transform: rotateX(75deg) translateX(-0.5em) scale(1.4);}
}
.bgo-open {
  animation: 4s bgo-open;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes bgo-open {
  from {transform: scale(1);}
  to {transform: scale(5);}
}
.im1-open {transform-origin: 5vw 30vw;}
.im2-open {transform-origin: 19vw 40vw;}
.im3-open {transform-origin: 25vw 42vw;}
.im4-open {transform-origin: 25vw 34vw;}
.im5-open {transform-origin: 37vw 40vw;}
.im6-open {transform-origin: center;}
.im7-open {transform-origin: 60vw 35vw;}
.im8-open {transform-origin: 63vw 30vw;}
.im10-open {transform-origin: 70vw 36vw;}
.im11-open {transform-origin: 80vw 40vw;}
.im12-open {transform-origin: 92vw 42vw;}
.bg-open {
  animation: 2.1s bg-open;
  animation-delay: 1.9s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes bg-open {
  from {transform: scale(0.1); opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}
.bg-close {
  animation: 2.1s bg-close;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes bg-close {
  from {transform: scale(1); opacity: 1;}
  to {transform: scale(0.1); opacity: 0;}
}
.cube {
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 75vw;
  transform-style: preserve-3d;
}
#cube1to4 {transform: translateX(74vw);}

#bg1 {opacity: 1; transform: translateX(-74vw) translateZ(97vw);}
#bg1to4-1-1 {transform: rotateY(15deg) translateZ(93vw);}
#bg1to4-1-2 {transform: rotateY(45deg) translateZ(93vw);}
#bg1to4-2-1 {transform: rotateY(75deg) translateZ(93vw);}
#bg1to4-2-2 {transform: rotateY(105deg) translateZ(93vw);}
#bg1to4-3-1 {transform: rotateY(135deg) translateZ(93vw);}
#bg1to4-3-2 {transform: rotateY(165deg) translateZ(93vw);}
#bg4 {opacity: 1; transform: translateX(-74vw) rotateY(180deg) translateZ(97vw);}
.rotate1to4 {
  animation: 13s rotate1to4;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes rotate1to4 {
  from {transform: rotateY(0) translateX(74vw);}
  to {transform: rotateY(-180deg) translateX(74vw);}
}
.rotate4to1 {
  animation: 13s rotate4to1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes rotate4to1 {
  from {transform: rotateY(-180deg) translateX(74vw);}
  to {transform: rotateY(0) translateX(74vw);}
}
#bg2-1 {opacity: 1; transform: translateZ(50vw);}
#bg2-2 {opacity: 1; transform: rotateY(90deg) translateZ(50vw);}
.rotate0 {
  animation: 3s rotate0;
  animation-fill-mode: forwards;
}
@keyframes rotate0 {
  from {transform: rotateY(-90deg);}
  to {transform: rotateY(0);}
}
.rotate-90 {
  animation: 3s rotate-90;
  animation-fill-mode: forwards;
}
@keyframes rotate-90 {
  from {transform: rotateY(0);}
  to {transform: rotateY(-90deg);}
}
.ride3to2 {
  animation: 5s ride3to2;
  animation-fill-mode: forwards;
}
@keyframes ride3to2 {
  from {transform: scale(4);}
  50% {transform: scale(4) translate(0);}
  to {transform: scale(4) translate(5vw, 5vh);}
}
.ride5to3 {
  animation: 5s ride5to3;
  animation-fill-mode: forwards;
}
@keyframes ride5to3 {
  from {transform: scale(4);}
  50% {transform: scale(4) translate(0);}
  to {transform: scale(4) translate(10vw, -5vh);}
}
#bg6 {opacity: 1; transform: translateZ(50vw);}
#bg7 {opacity: 1; transform: rotateY(90deg) translateZ(50vw);}
#bg10 {opacity: 1; transform: translateZ(-50vw);}

#bg8 {opacity: 1; transform: translateZ(50vw);}
#bg8to9 {opacity: 1; transform: rotateY(90deg) translateZ(50vw);}
#bg9-1 {opacity: 1; transform: rotateY(180deg) translateZ(50vw);}
#bg9-2 {opacity: 1; transform: rotateY(-90deg) translateZ(-49.999vw);}
.rotate8to9 {
  animation: 5s rotate8to9;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes rotate8to9 {
  from {transform: rotateY(0);}
  to {transform: rotateY(-180deg);}
}
.rotate9to8 {
  animation: 5s rotate9to8;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes rotate9to8 {
  from {transform: rotateY(-180deg);}
  to {transform: rotateY(0);}
}
.rotate-to-im9-2 {
  animation: 3.6s rotate-to-im9-2;
  animation-fill-mode: forwards;
}
@keyframes rotate-to-im9-2 {
  from {transform: rotateY(-180deg);}
  to {transform: rotateY(-270deg);}
}
.rotate-to-im9-1 {
  animation: 3.6s rotate-to-im9-1;
  animation-fill-mode: forwards;
}
@keyframes rotate-to-im9-1 {
  from {transform: rotateY(-270deg);}
  to {transform: rotateY(-180deg);}
}

#bg12 {opacity: 1; transform: rotateY(180deg) translateZ(-50vw);}
#bg13 {opacity: 1; transform: rotateY(-90deg) translateZ(-50vw);}
.rotate12 {
  animation: 3s rotate12;
  animation-fill-mode: forwards;
}
@keyframes rotate12 {
  from {transform: rotateY(90deg);}
  to {transform: rotateY(180deg);}
}
.rotate13 {
  animation: 3s rotate13;
  animation-fill-mode: forwards;
}
@keyframes rotate13 {
  from {transform: rotateY(180deg);}
  to {transform: rotateY(90deg);}
}
