html {
  background-color: #0b0e17;
  font-size: 10px;
}
body {
  overflow-x: hidden;
  margin: 0;
}
.overflow-hidden {overflow: hidden;}
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #fff;
  margin: 0;
}
h4 {font-size: 1.8em;}
h1 {
  font-size: 4.8em;
  white-space: nowrap;
  font-weight: 800;
}
p {font-family: 'Ubuntu', sans-serif; font-weight: 500; color: #fff; line-height: 1.6; margin: 0;}
#transition-layer {
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(bottom, rgb(11, 14, 23) 98.5%, #000 98.6%);
  animation: 1s transition-end-phase;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes transition-start-phase {
  from {top:100vh;}
  to {top: 0;}
}
@keyframes transition-end-phase {
  from {top:0;}
  to {top: 100vh;}
}

#cover {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(0.5rem);
  z-index: 3;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-color: #0b0e17;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.5), rgba(11, 14, 23, 0.65), rgba(11, 14, 23, 1)),
  url(/images/main.jpg);
}
#circle {
  position: absolute;
  z-index: 998;
  display: block; opacity: 1;
  top: 25vh; left: 25vw;
  width: 35vw; height: 35vw;
  background-color: #0b0e17;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%) scale(5);
  transition: transform 1.5s, opacity 1.5s;
}
/* Navigation and Footer block */
header, footer {background-color: hsla(205, 15%, 5%, 0.4); position: relative; width: 100vw; z-index: 20;}
@media screen and (orientation: portrait) {
  nav {flex-direction: column; height: 6rem;}
  .nav-burger, footer, header {height: auto;}
  #fut-content {height: 6rem;}
  a.big {font-size: 2.4em; margin: 1.55rem auto 1.55rem 2rem; font-family: 'Montserrat', sans-serif; font-weight: 800;}
  a.norm {font-size: 2em; margin: 1rem 0 1rem; border-bottom: 3px solid transparent;}
  .a-burger {display: none;}
  a.left {margin-top: 1rem;}
  a.norm:hover {border-bottom: 3px solid #fff; transition: 0.4s;}
  a.this, a.this:hover {border-bottom: 3px solid #41B619;}
  a.last {margin-bottom: 2.2rem;}
  .fut-text {font-size: 1.8em; border-bottom: 3px solid transparent;}
  #burger {position: absolute; right: 0; width: 2.5rem; height: 2.5rem; margin: 1.75rem 2rem 1.75rem; cursor: pointer;}
  #burger span {display: block; width: 2.5rem; height: 0.3rem; background-color: #fff;}
  .margin-top-2 {margin-top: -0.25rem;}
  .margin-top4 {margin-top: 0.4rem;}
  .margin-top8 {margin-top: 0.8rem;}
  .cross-left {transform: rotateZ(-45deg);}
  .cross-right {transform: rotateZ(45deg);}
}
@media screen and (orientation: landscape) {
  a.big {font-size: 2.7em; margin: 0 3rem; font-family: 'Montserrat', sans-serif; font-weight: 800;}
  a.norm {font-size: 1.9em; margin: 0 1.5rem; border-bottom: 3px solid transparent;}
  a.left {margin-left: auto;}
  a.norm:hover {border-bottom: 3px solid #fff; transition: 0.4s;}
  a.this, a.this:hover {border-bottom: 3px solid #41B619;}
  a.last {margin-right: 3rem;}
  .fut-text {font-size: 1.6em; margin-right: 3rem; border-bottom: 3px solid transparent;}
  nav, footer, header, #fut-content {height: 7rem;}
  #burger, span {display: none;}
}
@media screen and (max-width: 1199px) and (orientation: landscape) {
  nav, #fut-content {width: 100vw;}
}
.desktop {display: none;}
@media screen and (min-width: 1200px) and (orientation: landscape) {
  nav, #fut-content {width: 1200px;}
  .desktop {display: inline-block;}
}
nav {
  display: flex;
  position: relative;
  z-index: 25;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
a, .fut-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
footer, #fut-content {display: flex; justify-content: center; align-items: center; bottom: 0;}
@media screen and (max-width: 360px) and (orientation: portrait) {
  html {font-size: 7px;}
}
@media screen and (min-width: 361px) and (max-width: 400px) and (orientation: portrait) {
  html {font-size: 8px;}
}
@media screen and (min-width: 401px) and (max-width: 500px) and (orientation: portrait) {
  html {font-size: 9px;}
}
.not-now {display: none;}
