#support-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#news-page {
  width: 100vw;
  min-height: 100vh;
  display: none;
  background-color: #0b0e17;
}
header, footer {display: none;}
@supports (display: grid) {
  #support-box {display: none;}
  #news-page {display: grid;}
  header, footer {display: block;}
}

@media screen and (min-width: 1100px) {
  #news-page {
    grid:
      "... ... ... ... ..."
      "... ttl ttl set ..."
      "... new new pln ..."
      "... img img hot ..."
      "... fut fut fut ..."
      "... ... ... ... ..."
    ;
    /*ttl - title, img - to gallery, new - last news, pln - plan, hot - hot keys, fut - footer */
    grid-template-rows: 1.7fr 4rem 40rem 10rem 4rem 1fr;
    grid-template-columns: 1fr repeat(3, 34rem) 1fr;
    grid-gap: 1rem;
  }
  .news-subtitle {padding: 2rem 4rem 1rem 4rem;}
  .news-button-container {height: 27.7%;}
  .plan-container {
    width: 26rem;
    height: 24rem;
  }
  article {width: 62rem;}
}
@media screen and (max-width: 1099px) {
  #news-page {
    grid:
      "... ... ..."
      "... ttl ..."
      "... new ..."
      "... pln ..."
      "... img ..."
      "... fut ..."
      "... ... ..."
    ;
    /*ttl - title, img - to gallery, new - last news, pln - plan, fut - footer */
    grid-template-rows: minmax(1rem, 1fr) 4rem 22rem 36rem 9rem 4rem 1fr;
    grid-template-columns: 1fr minmax(auto, 55rem) 1fr;
    grid-gap: 1.5rem;
  }
  #hot-keys, .news-text {display: none;}
  .news-subtitle {padding: 0.5rem 4rem 0 4rem;}
  .news-button-container {height: 53%;}
  #news-button {margin-bottom: 2rem;}
  .plan-container {
    width: 80%;
    height: 20rem;
  }
  .gallery-title {
    margin-top: auto;
    padding: 0 2rem 2rem 2.5rem;
  }
  #news-list {transform: translateY(-11.5rem);}
  article {
    width: calc(100vw - 3rem);
    max-width: 55rem;
  }
}

#news-block, #future-block, #to-gallery, #hot-keys {
  background-color: #1f2740; border-radius: 1.5rem;
}
#header-block {
  grid-area: ttl;
}
#to-gallery, .news-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#news-page, #to-gallery, #news-block, article {
  background-size: cover; background-position: center center; background-repeat: no-repeat;
}
#to-gallery {
  grid-area: img;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.6), rgba(11, 14, 23, 0.6)),
  url(/images/jpg-small/im1.jpg);
}
.gallery-title {font-size: 2em;}
#news-block {
  grid-area: new;
}
.news-title {
  padding: 3.5rem 0 1rem 4rem;
  font-size: 2.3em;
  font-weight: 800;
}
.news-subtitle {font-size: 2em;}
.news-text {
  padding: 0 4rem 0 4rem;
  font-size: 1.45em;
}
.news-button-container {
  border-radius: 1.5rem;
  background-image: -webkit-linear-gradient(top, transparent, rgba(11, 14, 23, 0.8));
}
#news-button {
  cursor: pointer;
  font-weight: 800;
  font-size: 1.8em;
  padding: 1rem 4rem;
  border: 0.5rem solid #41b619;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(65, 182, 25, 0.6);
  transition: 0.5s;
}
#news-button:hover {
  box-shadow: 0 0 2rem #41B619;
}
#future-block {
  grid-area: pln;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.3), rgba(11, 14, 23, 0.8));
}
.plan-container {
  display: flex;
  padding: 4rem;
}
.plan-line {
  width: 3rem;
  height: 100%;
  background-image: -webkit-linear-gradient(top, #41b619, #ca6e1b);
}
.plan-text-container {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
}
.plan-text {font-size: 1.45em;}
.plan-text:nth-child(2) {margin: auto 0 auto 0;}
#hot-keys {
  grid-area: hot;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.5), rgba(11, 14, 23, 0.8));
}
.about-title {
  padding: 2.5rem 0 0.5rem 2.5rem;
  font-size: 2em;
}
.about-text {
  padding: 0 2.5rem;
  font-size: 1.45em;
}
#footer-block {
  grid-area: fut;
}

#news-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 7rem 0 4rem 0;
}
article {
  border-radius: 1.2rem;
  margin-bottom: 3rem;
  background-color: #1f2740;
}
.article-head {
  font-size: 2.4rem;
  font-weight: 800;
  padding: 4rem 4rem 2rem 4rem;
}
.article-text {
  font-size: 1.6rem;
  padding: 0 4rem 4rem 4rem;
}
#release-notes {
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.85), rgba(11, 14, 23, 0.75)),
  url(/images/jpg-small/im7.jpg);
}
#first-autumn {
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.8), rgba(11, 14, 23, 0.75)),
  url(/images/autumn.jpg);
}
#news-block {
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.5), rgba(11, 14, 23, 0.8)),
  url(/images/autumn.jpg);
}
