#support-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#news-page {
  width: 100vw;
  min-height: 100vh;
  display: none;
}
header, footer {display: none;}
@supports (display: grid) {
  #support-box {display: none;}
  #news-page {display: grid;}
  header, footer {display: block;}
}

@media screen and (min-width: 1100px) {
  #news-page {
    grid:
      "... ... ... ... ..."
      "... ttl ttl ttl ..."
      "... img img hot ..."
      "... new new new ..."
      "... fut fut fut ..."
      "... ... ... ... ..."
    ;
    /*ttl - title, img - to gallery, new - last news, hot - hot keys, fut - footer */
    grid-template-rows: 1.5fr 4rem 12rem 61rem 2rem 1fr;
    grid-template-columns: 1fr repeat(3, 34rem) 1fr;
    grid-gap: 1rem;
  }
  #to-gallery, #hot-keys {
    display: flex;
    flex-direction: column;
  }
  #news-list {transform: translateY(-11.5rem);}
  article {width: 104rem; min-height: 36rem;}
}
@media screen and (max-width: 1099px) {
  #news-page {
    grid:
      "... ... ..."
      "... ttl ..."
      "... new ..."
      "... pln ..."
      "... img ..."
      "... fut ..."
      "... ... ..."
    ;
    /*ttl - title, img - to gallery, new - last news, pln - plan, fut - footer */
    grid-template-rows: minmax(1rem, 1fr) 4rem 22rem 36rem 9rem 4rem 1fr;
    grid-template-columns: 1fr minmax(auto, 55rem) 1fr;
    grid-gap: 1.5rem;
  }
  #hot-keys, .news-text {display: none;}
  .news-subtitle {padding: 0.5rem 4rem 0 4rem;}
  .news-button-container {height: 53%;}
  #news-button {margin-bottom: 2rem;}
  .plan-container {
    width: 80%;
    height: 20rem;
  }
  .gallery-title {
    margin-top: auto;
    padding: 0 2rem 2rem 2.5rem;
  }
  article {
    width: calc(100vw - 3rem);
    max-width: 55rem;
  }
}

#news-block, #future-block, #to-gallery, #hot-keys {
  background-color: #1f2740; border-radius: 1.5rem; z-index: 4;
}
#news-page, #to-gallery, #news-block, article {
  background-size: cover; background-position: center center; background-repeat: no-repeat;
}
#to-gallery {
  grid-area: img;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.6), rgba(11, 14, 23, 0.6)),
  url(/images/jpg-small/im1.jpg);
}
#to-gallery:hover, #to-gallery:focus {box-shadow: 0 0 1.7rem #0b0e17;}
#news-block {
  grid-area: new;
  background-color: brown;
  transition: filter 0.5s;
}
.title-flex {
  display: flex;
  justify-content: center;
}
.news-title {
  padding: 1.6rem 0 1.7rem 0;
  font-size: 3.8em;
}
#news-place {
  width: 104rem; height: 51.5rem;
  overflow: hidden scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
article {scroll-snap-align: start;}

#future-block {
  grid-area: pln;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.3), rgba(11, 14, 23, 0.8));
}
.plan-container {
  display: flex;
  padding: 4rem;
}
.plan-line {
  width: 3rem;
  height: 100%;
  background-image: -webkit-linear-gradient(top, #41b619, #ca6e1b);
}
.plan-text-container {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
}
.plan-text {font-size: 1.45em;}
.plan-text:nth-child(2) {margin: auto 0 auto 0;}

/*article {
  border-radius: 1.2rem;
  margin-bottom: 3rem;
  background-color: #1f2740;
}*/
.article-head {
  font-size: 2.4rem;
  font-weight: 800;
  padding: 0 10rem 2rem 10rem;
}
.bg-article {padding: 3rem 10rem 2rem 10rem;}
.article-text {
  font-size: 1.6rem;
  padding: 0 10rem 4rem 10rem;
}
#release-notes {
  background-image: -webkit-linear-gradient(top, #1f2740, rgba(11, 14, 23, 0.75) 45%, brown),
  url(/images/jpg-small/im7.jpg);
}
#september {scroll-margin-top: 3rem;}
#first-autumn {
  background-image: -webkit-linear-gradient(top, #1f2740, rgba(11, 14, 23, 0.75) 35%, brown),
  url(/images/autumn.jpg);
}
