#support-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#news-page {
  width: 100vw;
  height: auto;
  background-color: #0b0e17;
  display: none;
}
header, footer {display: none;}
@supports (display: grid) {
  #support-box {display: none;}
  #news-page {display: grid;}
  header, footer {display: block;}
}

#news-page {
  grid:
    "... ... ... ... ..."
    "... ttl img ... ..."
    "... new new hot ..."
    "... fut fut fut ..."
  ;
  /*ttl - title, img - to gallery, new - news list, hot - hot keys, fut - footer */
  grid-template-rows: 0 4rem 1fr 4rem;
  grid-template-columns: 1fr 25rem 55rem 25rem 1fr;
  grid-gap: 1rem;
}
#to-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-color: #1f2740; border-radius: 1.2rem;
}
#header-block {
  grid-area: ttl;
}
.header-text {font-size: 1.8em;}
#to-gallery {
  grid-area: img;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.6), rgba(11, 14, 23, 0.5)),
  url(/images/jpg-small/im1.jpg);
}
#news-block {
  grid-area: new;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-title {
  padding: 2.5rem 0 0.5rem 2.5rem;
  font-size: 2em;
}
.about-text {
  padding: 0 2.5rem;
  font-size: 1.35em;
}
#hot-keys {
  grid-area: hot;
  height: 15rem;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.5), rgba(11, 14, 23, 0.8));
}
#footer-block {
  grid-area: fut;
}

article {
  border-radius: 1.6rem;
  margin-bottom: 4rem;
  background-color: #1f2740;
  background-size: cover;
  background-repeat: no-repeat;
}
.article-head {
  font-size: 2.4rem;
  padding: 3rem 0 1.5rem 3rem;
}
.article-text {
  font-size: 1.7rem;
  padding: 0 2rem 2rem 5rem;
}
#release-notes {
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.9), rgba(11, 14, 23, 0.75)),
  url(/images/jpg-small/im7.jpg);
}
#first-autumn {
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.9), rgba(11, 14, 23, 0.75)),
  url(/images/autumn.jpg);
}
