.title {
  margin: 3.5rem 0 1.5rem 0;
}
#file {
  z-index: 3;
  display: none;
  position: fixed;
  width: 4rem; height: 4rem;
  top: 0; left: 0;
  border: 0;
  border-radius: 1rem;
  background-color: var(--white-blue);
  background-image: url(icons/file.png);
  background-position: center; background-size: 75%; background-repeat: no-repeat;
  offset-rotate: 0deg;
  offset-distance: 0%;
  transition-timing-function: cubic-bezier(.39,.15,.49,.99); //cubic-bezier(.45,.57,.12,.93);
}
main {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}
#loadingBlock {margin-top: -3rem;}
.item {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  width: 28rem; height: 40rem;
  margin: 1.5rem 1rem;
  border: 0.4rem solid var(--shadow-blue);
  border-radius: 2rem;
  background-color: var(--white-blue);
  box-shadow: 0 1.5rem 3rem var(--shadow-blue);
  will-change: border, box-shadow, transform;
  transition: 0.5s;
}
.item:hover {
  --shadow-blue: var(--clear-blue);
  transform: scale(1.05);
}
.item > button {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 1rem; right: 1rem;
  width: 4rem; height: 4rem;
  border: 0;
  border-radius: 1rem;
  background-color: var(--white-blue);
  background-position: center; background-size: 75%; background-repeat: no-repeat;
  //box-shadow: 0 0.5rem 1.5rem var(--bg-blue);
  transition: 0.2s;
}
.item > button[data-later="none"] {background-image: url(icons/plus.png);}
.item > button[data-later="later"] {background-image: url(icons/tick.png);}
.item > h5 {position: absolute; top: 1rem; right: 6rem;}
.item > div {
  width: 28rem; height: 28rem;
  object-fit: cover;
  border-radius: 1.6rem 1.6rem 0 0;
  background-color: var(--bg-blue);
}
.item > h3 {margin: 1rem 1.5rem;}
.item > h4 {margin: 0 1.5rem;}
.item > h4::after {
  content: '$';
  display: inline-block;
}

.skeleton {cursor: default;}
.skeleton:hover {transform: none; --shadow-blue: hsl(225, 90%, 90%);}
.skeleton > h3 {width: 17rem; height: 3rem;}
.skeleton > h4 {width: 5rem; height: 2.7rem;}
.skeleton > h3, .skeleton > h4 {background-color: var(--bg-blue); border-radius: 0.5rem;}
.skeleton > h4::after {display: none;}

.skeleton:nth-child(2) {opacity: 0.8;}
.skeleton:nth-child(3) {opacity: 0.6;}
.skeleton:nth-child(4) {opacity: 0.4;}

#reloadBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%; max-width: 120rem;
  height: 20rem;
  margin-bottom: 3rem;
}
#reloadBlock > button {
  cursor: pointer;
  width: 23rem; height: 5.5rem;
  font-size: 1.9em; font-weight: 700;
  color: white;
  border: 0.5rem solid var(--primary-red);
  border-radius: 5rem;
  background-color: var(--primary-red);
  transition: 0.5s;
}
#reloadBlock > button:hover {background-color: var(--hover-red);}
