main {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: -webkit-radial-gradient(ellipse at top left, transparent, rgba(11, 14, 23, 0.2)), -webkit-radial-gradient(ellipse at bottom right, transparent, rgba(11, 14, 23, 0.1)), url(/image/main.jpeg);
  background-image: radial-gradient(ellipse at top left, transparent, rgba(11, 14, 23, 0.2)), radial-gradient(ellipse at bottom right, transparent, rgba(11, 14, 23, 0.1)), url(/image/main.jpeg);
}
@media screen and (orientation: portrait) {
  main {height: calc(100vh - 6rem);}
}
@media screen and (orientation: landscape) {
  main {min-height: 500px; height: calc(100vh - 14rem)}
}
.promo {
  display: grid;
  border-radius: 2rem;
  padding: 2rem;
  margin-top: 5rem;
  background-color: #1f2740;
}
@media screen and (max-width: 749px) {
  .promo {width: 70vw;}
}
@media screen and (min-width: 750px) {
  .promo {width: 600px;}
}
#fly-promo {
  grid:
    "promo-image promo-head"
    "promo-image promo-button"
  ;
  grid-template-rows: 4rem auto;
  grid-template-columns: 6fr 4fr;
}
.promo-head {
  grid-area: promo-head;
  font-size: 2.4rem;
}
.promo-button {
  grid-area: promo-button;
  font-size: 1.8rem;
  padding: 2rem 1rem;
  background: #41b619;
  border: 0.5rem solid #369e13;
  border-radius: 5rem;
  transition: 0.5s;
  cursor: pointer;
}
.promo-button:hover {border: 0.5rem solid #41b619;}
.promo-image {
  height: 28rem;
  width: auto;
  border-radius: 2rem;
  background-color: #0b0e17;
}
