main {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: -webkit-radial-gradient(ellipse at top left, transparent, rgba(11, 14, 23, 0.2)), -webkit-radial-gradient(ellipse at bottom right, transparent, rgba(11, 14, 23, 0.1)), url(/image/main.jpeg);
  background-image: radial-gradient(ellipse at top left, transparent, rgba(11, 14, 23, 0.2)), radial-gradient(ellipse at bottom right, transparent, rgba(11, 14, 23, 0.1)), url(/image/main.jpeg);
}
@media screen and (orientation: portrait) {
  main {height: calc(100vh - 6rem);}
}
@media screen and (orientation: landscape) {
  main {min-height: 500px; height: calc(100vh - 14rem)}
}
.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 28rem;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 0.8rem 2rem rgba(11, 14, 23, 0.9);
  background-color: #1f2740;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.85), rgba(11, 14, 23, 0.6)), url(/image/cover.jpeg);
  animation: 2s look-at-this;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes look-at-this {
  from {transform: scale(1);}
  50% {transform: scale(1.02);}
  to {transform: scale(1);}
}
@media screen and (max-width: 749px) {
  .promo {width: 80vw;}
}
@media screen and (min-width: 750px) {
  .promo {width: 600px;}
}
.promo-head {
  font-size: 2.8rem;
  text-align: center;
  margin-top: 6rem;
}
.promo-button {
  font-size: 1.8rem;
  text-align: center;
  width: 12rem;
  height: 2rem;
  margin-top: 6.5rem;
  padding: 1.1rem 4rem;
  background: #41b619;
  border: 0.5rem solid #369e13;
  box-shadow: 0 0.5rem 1.5rem rgba(65, 182, 25, 0.55);
  border-radius: 5rem;
  transition: 0.5s;
  cursor: pointer;
}
.promo-button:hover {border: 0.5rem solid #41b619; box-shadow: 0 0.5rem 1.5rem #41b619;}
#about-fly {
  transform: translateY(-2rem);
  width: 300px;
  height: 22rem;
  border-radius: 0 2rem 2rem;
  padding: 5rem;
  background-color: #1f2740;
}
