main {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: -webkit-radial-gradient(ellipse at top left, transparent, rgba(11, 14, 23, 0.2)), -webkit-radial-gradient(ellipse at bottom right, transparent, rgba(11, 14, 23, 0.1)), url(/image/main.jpeg);
  background-image: radial-gradient(ellipse at top left, transparent, rgba(11, 14, 23, 0.2)), radial-gradient(ellipse at bottom right, transparent, rgba(11, 14, 23, 0.1)), url(/image/main.jpeg);
}
@media screen and (orientation: portrait) {
  main {height: 100vh}
}
@media screen and (orientation: landscape) {
  main {height: calc(100vh - 16rem)}
}
