:root {
  --primary-blue: #15234f;
}
html {
  background-color: var(--primary-blue);
  font-size: 10px;
}
body {
  overflow-x: hidden;
  margin: 0;
  background-color: inherit;
}
.overflow-hidden {overflow: hidden;}
div:focus, main:focus {outline: none; border: azure solid 0.3rem;}
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #fff;
  margin: 0;
}
h4 {font-size: 1.8em;}
h1 {
  font-size: 4.8em;
  white-space: nowrap;
  font-weight: 800;
}
p {font-family: 'Ubuntu', sans-serif; font-weight: 500; color: #fff; line-height: 1.5; margin: 0;}
@media screen and (orientation: portrait) {
  a.big {font-size: 2.4em; margin: 1.55rem auto 1.55rem 2rem; font-family: 'Montserrat', sans-serif; font-weight: 800;}
  a.lang-set {margin: 1.6rem 0.5rem;}
}
@media screen and (orientation: landscape) {
  a.big {font-size: 2.7em; margin: 0 3rem; font-family: 'Montserrat', sans-serif; font-weight: 800;}
  a.lang-set {margin: 0.4rem 0.7rem;}
}
a, .fut-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
.fut-text {
  font-size: 1.4em;
  margin: 0 1.5rem;
}
a.lang-set {font-size: 1.8em; font-family: 'Montserrat', sans-serif; font-weight: 600;}
a.left {margin-left: auto;}
a.right {margin-right: 2rem;}
a.this {font-weight: 800;}

#cover {
  position: absolute;
  top: 0; z-index: 3;
  width: 100vw; height: 100vh;
  filter: blur(10px);
  transition: filter 1s;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-color: #0b0e17;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.5), rgba(9, 14, 27, 0.65), rgba(9, 11, 30, 1)),
  url(/images/main.jpg);
}
#circle {
  position: absolute;
  z-index: 998;
  display: block; opacity: 1;
  width: 35vmax; height: 35vmax;
  top: 0; left: 50vw;
  background-color: var(--primary-blue);
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%) scale(6);
  transition: transform 1.5s, opacity 1s;
}
.circle-spawn {
  animation: 1.5s circle-spawn;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes circle-spawn {
  from {transform: translateX(-50%) translateY(-50%) scale(6); opacity: 1;}
  33% {opacity: 1;}
  99% {transform: translateX(-50%) translateY(-50%) scale(1); opacity: 0;}
  to {transform: translateX(-50%) translateY(-35vmax) scale(0.1); opacity: 0;}
}

#header-block {
  grid-area: ttl;
  z-index: 999;
  display: flex;
  align-items: center;
}
h1 {z-index: 5;}
a:hover {outline: none;}
a:focus {outline: azure solid 0.3rem;}
.update-title {
  padding: 0 3.5rem 2rem 2.5rem;
  font-size: 2.5em;
}
.update-action {
  margin-top: auto;
  padding: 0 0 0.5rem 2.5rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.7em;
  font-weight: 500;
}
.about-title {
  padding: 0rem 0 0.75rem 2.5rem;
  font-size: 2em;
  margin-top: auto;
}
.about-text {
  padding: 0 2.5rem 2.5rem;
  font-size: 1.6em;
  line-height: 1.45;
}
#hot-keys {
  grid-area: hot;
  flex-direction: column;
  background-image: -webkit-linear-gradient(top, rgba(11, 14, 23, 0.5), var(--primary-blue));
}
.hot-key-button {
  font-size: 1.3em;
  padding: 0.1rem 0.7rem;
  border: 0.2rem solid #f0ffffb8;
  border-radius: 0.7rem;
}
.title-flex {
  display: flex;
  justify-content: center;
}
.page-title {
  padding: 1.6rem 0 1.7rem 0;
  font-size: 3.8em;
}
#footer-block {
  grid-area: fut; display: flex; z-index: 4;
}
#back-button {
  grid-area: fly;
  position: sticky;
  bottom: 1.5rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  background-color: dodgerblue;
}
.back-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.7em;
}

@media screen and (max-width: 360px) and (orientation: portrait) {
  html {font-size: 7px;}
}
@media screen and (min-width: 361px) and (max-width: 400px) and (orientation: portrait) {
  html {font-size: 8px;}
}
@media screen and (min-width: 401px) and (max-width: 500px) and (orientation: portrait) {
  html {font-size: 9px;}
}
.not-now {display: none;}
